.w_100{
  width: 100% !important;
}
.w_50{
  width: 50% !important;
}
.form {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}

.full-width {
  width: 100%;
}

.green{
  // background-color: greenyellow;
}

.red{
 //  background-color: red;
}


.avatar{
  width: 100px;
  height: 100px;
  text-align: center;
}

.center{
  text-align: center;
}

.r_rond
{
  border-radius: 50% !important;
}

.primary{
  background-color: #ff7713;
  color: white;
}
