<ng-container fxFill fxLayoutAlign="center center" class="red">
  <mat-card class="green form" >
    <mat-card-title ><h1 class="center"> <span *ngIf="!updateUser">Enregistrer </span> <span *ngIf="updateUser">Actualiser </span> un utilisateur</h1> </mat-card-title >
        <div class="center w_100 ">
          <img [src]="avatarUser" class="avatar r_rond" alt="sa" />
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
          <p>
            <mat-form-field appearance="outline" class="w_50">
              <mat-label>Email </mat-label>
              <input matInput  [ngClass]="{'is-invalid': submitted && f.email.errors }" type="text" formControlName="email">
              <mat-hint *ngIf="submitted && f.email.errors">
                <div *ngIf="f.email.errors.required">Veuiller entrer une adresse email </div>
                <div *ngIf="f.email.errors.email">Veuiller entrer une adresse email valide </div>
              </mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w_50">
              <mat-label>Nom utilisateur </mat-label>
              <input matInput  [ngClass]="{'is-invalid': submitted && f.usernme.errors }" type="text" formControlName="usernme">
              <mat-hint *ngIf="submitted && f.usernme.errors">
                <div *ngIf="f.usernme.errors.required">Veuiller entrer un nom utilisateur</div>
              </mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline" class="w_50">
                <mat-label>Prenom</mat-label>
                <input matInput  [ngClass]="{'is-invalid': submitted && f.firstname.errors }" type="text" formControlName="firstname">
                <mat-hint *ngIf="submitted && f.firstname.errors">
                        <div *ngIf="f.firstname.errors.required">Veuiller entrer le prénom </div>
                </mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w_50">
                <mat-label>Nom</mat-label>
                <input matInput  [ngClass]="{'is-invalid': submitted && f.lastname.errors }" type="text" formControlName="lastname">
                <mat-hint *ngIf="submitted && f.lastname.errors">
                        <div *ngIf="f.lastname.errors.required">Veuiller entrer le nom </div>
                </mat-hint>
            </mat-form-field>
          </p>
          <p *ngIf="!updateUser">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Profil</mat-label>
              <mat-select formControlName="idProfil" placeholder="">
                <mat-option [value]="1">Admin</mat-option>
                <mat-option [value]="2">Formateur</mat-option>
                <mat-option [value]="3">CM</mat-option>
              </mat-select>
              <mat-hint *ngIf="submitted && f.idProfil.errors">
                      <div *ngIf="f.idProfil.errors.required">Veuillez slectionner un profil </div>
              </mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline" class="w_50">
              <ngx-mat-file-input formControlName="avatar">
              </ngx-mat-file-input>
              <mat-hint></mat-hint>
            </mat-form-field>
          </p>
          <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="gappx">
            <button type="submit" mat-raised-button name="connexion" [disabled]="busy" class="primary"><span><span *ngIf="updateUser">Actualiser</span> <span *ngIf="!updateUser">Enregistrer</span> <mat-spinner *ngIf="busy" diameter='20'color='warn'></mat-spinner></span></button>
          </div>
        </form>
  </mat-card>
  </ng-container>
