
.color_red{
  color: red;
}
.color_green{
  color: lime;
}
mat-card {
  margin: 10px !important;
}

.badge{
  padding: 4px;
  margin: 2px;
  border-radius: 5px !important;
  background-color: gainsboro;
}
