<div class="mat-app-background">
  <div class="header-user" color="accent">
    <div fxLayout="row" fxFill fxLayoutAlign="space-between center" class="p-30 " fxLayoutGap="gappx">
      <div><p>
            <mat-form-field fxFill appearance="outline" >
              <mat-icon matSuffix>search</mat-icon>
              <mat-label>Recherche</mat-label>
              <input matInput placeholder="Recherche competences">
            </mat-form-field>
          </p>
      </div>
      <div ><h1 class="ft-white ">Compétences</h1></div>
      <div ><h3 class="ft-white ">&nbsp;</h3></div>
    </div>
  </div>

  <div class=" w_92 m_l_4_t_m mat-elevation-z3">
          <router-outlet></router-outlet>
  </div>
</div>
