<div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)"  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
  <mat-icon class="icon_save">save_alt</mat-icon>
  <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
</div>
<div  class="files-list" *ngFor="let file of files;let i= index">
    <p> {{ file }} </p>
    <button class="delete-file" (click)="deleteAttachment(i)">
      <mat-icon class="mat-18">delete_outline</mat-icon>
    </button>
 </div>
