:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 600px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }
ng-container
{
  min-height: 100vh;
}
.logo{
  text-align: center;
}

.primary{
  background-color: #ff7713;
  color:white;
}
.text-primary{
  color: #ff7713;
}
