<div  class=" mat-app-background">
  <br>
  <div *ngIf="displayUsers">
    <div fxLayout="row"  fxLayoutGap="gappx" fxLayoutAlign="end end" fxFlexFill autosize>
      <button mat-raised-button (click)="displayUsers=!displayUsers" class="primary">ADD NEW USER<mat-icon>add</mat-icon></button>
    </div>
      <div fxLayout="row"  fxLayoutGap="gappx" fxFlexFill autosize>
          <app-list-profil fxFlex="20">v</app-list-profil>
          <app-list-user fxFlex="74" fxFlexFill autosize>a</app-list-user>
      </div>
  </div>
  <div *ngIf="!displayUsers" >
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">
      <button mat-raised-button (click)="displayUsers=!displayUsers" class="primary"><mat-icon>keyboard_arrow_left</mat-icon></button>
    </div>
    <br>
    <div fxLayoutAlign="center center">
         <app-create-user fxFill></app-create-user>
    </div>
  </div>
  <br><br>
</div>
