<div class="header-user">
  <div fxLayout="row" fxFill fxLayoutAlign="space-between center"  fxLayoutGap="gappx">

    <div class="w_80_m"><p>
          <mat-form-field fxFill appearance="outline" >
            <mat-icon matSuffix class="primary">search</mat-icon>
            <mat-label>Recherche</mat-label>
            <input matInput placeholder="Recherche dans promo">
          </mat-form-field>
        </p>
    </div>
    <div class="w_10 "><h1 class="ft-white ">Promotion</h1></div>
    <div class="w_10 "><h1 class="ft-white ">&nbsp;</h1></div>
  </div>
</div>

<div class=" w_92 m_l_4_t_m mat-elevation-z3">
        <router-outlet></router-outlet>
</div>
