.spacer {
  flex: 1 1 auto;
}

button {
  margin: 0 10px;
  &.active {
      filter: brightness(120%);
  }
}
.rotate-90{
  transform: rotate(90deg);
}

.mg-5{
  margin: 10px;
}

.f-small
{
  font-size: 10px;
}

.f-verysmall{
  font-size: 8px;
}

.floatr
{
  float: right;
}
mat-sidenav-container{
  height:100% !important;
  width: 100% !important;
}

// .color_green
// {
//   background-color: gainsboro;
// }
.h90 {
  min-height: 89vh;
}

.active.left{
  opacity: 0.7;
  border-left: 5px solid  #ff7713;
}
.active.bottom{
  opacity: 0.7;
  border-bottom: 4px solid  #ff7713;
}
a:hover.bottom{
  opacity: 0.7;
  border-bottom: 4px solid  #ff7713;
  border-radius: 0px;
}
a:hover.left{
  opacity: 0.7;
  border-left: 4px solid  #ff7713;
  border-radius: 0px;
}

.iconc{
  color:#767676;
}
.scolor_green{
  background-color: #fff;
}
