.w_70{
  width: 70%;
  min-width: 70%;
  max-width: 70%;
  margin-left: 15%;
}
.header-user{
  width: 100%;
  height: 150px;
  background-color: #30898D;
}

.m_l_4_t_m{
  margin-left: 4%;
  margin-top: -50px;
  background-color: #FAFAFA;
  padding: 1Opx;
  border-radius: 10px !important;
}

.ft-white{
 color: #FAFAFA !important;
}

.ft_white_component {
  background-color: #fafafa;
}

// .p-20{
//   padding: 40px;
// }
.w_92{
  width: 92%;
}

// .w_80_m{
//   min-width: 80% !important;
//   max-width: 80%;
// }

.w_10{
  min-width: 10%;
  max-width: 10%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 30px;
}
.primary{
  background-color: #ff7713;
  color: white;
}
