.w_100{
  width: 100% !important;
}
.w_50{
  width: 50% !important;
}
.form {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}

.full-width {
  width: 100%;
}

.red{
  color: red;
}
.green{
  color: orange;
}
h1{
  text-align: center;
}

.primary{
  background-color: #ff7713;
}
