<mat-card class="example-card">
  <mat-card-header>
    <h1>{{promo.titre}}</h1>
  </mat-card-header>
  <div>
    <img *ngIf="!this.promo.avatar" class="avatar_promo" ng mat-card-image [src]="urlavatar" alt="Photo de la promo">
    <img *ngIf="this.promo.avatar" class="avatar_promo" ng mat-card-image [src]="'data:image/jpeg;base64,'+ promo.avatar" alt="Photo de la promo">
  </div>
  <mat-card-content>
    <p>
      {{ promo.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
   <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="gappx">

    <button class="primary" mat-mini-fab color="basic" (click)="detailsPromo()"><mat-icon>launch</mat-icon></button>
   </div>
  </mat-card-actions>
</mat-card>
