.w_100{
  width: 100% !important;
}
.w_50{
  width: 50% !important;
}
.form {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}

.full-width {
  width: 100%;
}

.zoneimage{
  height: 200px;
  background-color: gainsboro;
  border-radius: 10px;
  border: 2px dashed #ff7713;
  border-radius: 10px;
}

.btn{
  background-color: #ff7713;
  border-radius: 2px;
  padding: 5px;
}
input {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  top: 0;
  left: 0;
}

.primary{
  color: #767676 !important;
}

.image_upload{
  margin-top: -150px;
  z-index: 2;;
}

