<br>
<div fxLayout="row"  fxLayoutGap="gappx" fxLayoutAlign="end end" fxFlexFill autosize>
  <a mat-raised-button routerLink= './../add' class="primary">ADD NEW<mat-icon>add</mat-icon></a>
</div>
<br>
  <h1 align="center">Liste des groupe de compétences</h1>

<div fxLayout="row wrap"  fxLayoutAlign="start start" fxFlexFill fxLayoutGap="15px" autosize >
    <app-item fxFlex="32" *ngFor="let grpComp of grpCompetences" [grpeCompetence]="grpComp" (deleteI)='delete($event)' ></app-item>
</div>
<!-- <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator> -->
