<div class="header-user">
  <div fxLayout="row" fxFill fxLayoutAlign="space-between center"  fxLayoutGap="gappx">
    <div ><p>
          <mat-form-field appearance="outline" >
            <mat-icon matSuffix>search</mat-icon>
            <mat-label>Recherche</mat-label>
            <input matInput placeholder="Recherche Profil de sorties">
          </mat-form-field>
        </p>
    </div>
    <div><h1 class="ft-white ">Profils de Sorties</h1></div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  </div>
</div>

<div class=" w_92 m_l_4_t_m mat-elevation-z3">
  <router-outlet></router-outlet>
</div>
