// .p-20{
//   padding: 40px;
// }
.w_92{
  width: 92%;
}

.w_80_m{
  min-width: 92% !important;
  max-width: 92%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
 // background-color: white;
 border-radius: 5px;
}

.header-user{
  width: 100%;
  height: 150px;
  background-color: #338F83;
}

.m_l_4_t_m{
  margin-left: 4%;
  margin-top: -50px;
  background-color: #FAFAFA;
  //padding: 1Opx;
  border-radius: 5px !important;
}

.ft-white{
 //color: #FAFAFA !important;
 font-weight: bolder;
}
