<div class="header-user">
  <div fxLayout="row" fxFill fxLayoutAlign="start center" class="p-30 " fxLayoutGap="gappx">
    <div class="w_10 "><h3 class="ft-white ">Profils de Sorties</h3></div>
    <div class="w_80_m"><p>
          <mat-form-field fxFill appearance="outline" >
            <mat-icon matSuffix>search</mat-icon>
            <mat-label>Recherche</mat-label>
            <input matInput placeholder="Recherche Profil de sorties">
          </mat-form-field>
        </p>
    </div>
  </div>
</div>

<div class=" w_80 m_l_10_t_m mat-elevation-z3">
  <router-outlet></router-outlet>
</div>
