table , h1{

  margin-left: 40px;
}
 td,th{
   padding: 10px  !important;
 }
 .w_70_h_70
 {
     width: 40px;
     height: 40px;
     margin-top: 2%;
     margin-left: 2%;
     border-radius: 50%;
 }
