table , h1{

  margin-left: 40px;
}
 td,th{
   padding: 10px  !important;
 }
 .w_70_h_70
 {
     width: 40px;
     height: 40px;
     margin-top: 2%;
     margin-left: 2%;
     border-radius: 50%;
 }

 .primary
 {
  border-left: 5px solid #ff7713;
  border-right: 5px solid #ff7713;
 }
 .bg_primary{

  background-color: #ff7713;
  color:white;
 }
.main_curseur{
  cursor: pointer !important;
}

.red{
  color: red;
}

.green{
  color: green;
}


.visiblevide{
  td
  {
    .vide{
      display: block;
    }
    .action{
      display: none;
    }
  }
}

.visibleaction{
  td{
    .vide{
      display: none;
    }
    .action{
      display: block;
    }
  }
}
