<!--
<div class="header-user">
        <div  fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
          <p>
          <mat-form-field fxFill appearance="outline"  >
            <mat-label align="center"><h2>Promotion</h2></mat-label>
            <mat-select [formControl]="promoCtl" placeholder=""  (selectionChange)="loadPromo()">
              <mat-option *ngFor="let promo of sumPromos" [value]="promo.id">{{promo.titre}}</mat-option>

            </mat-select>
          </mat-form-field>
          </p>
        </div>
</div> -->
<br>
<router-outlet></router-outlet>

