
//  td,th{
//    padding: 10px  !important;
//  }
table{
  width: 100%;
}
 .mat-row:hover {
  // background-color: red !important;
  z-index: 8;
  box-shadow: 5px 5px 5px #aaa;
}

.w_70_h_70
{
    width: 50px;
    height: 50px;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 50%;
}
