<h2>Utilisateurs</h2>

<table mat-table [dataSource] = "dataSource"  class="mat-elevation-z2"  autosize>

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select" fxFlexFill autosize>
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row" (click)="selection.toggle(row)">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                     >
      </mat-checkbox>

    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <!-- <td mat-cell *matCellDef="let element"> <img class="w_70_h_70" src="/assets/iconProfils/admin.png" alt="pr"> </td> -->
    <td mat-cell *matCellDef="let element"> <img class="w_70_h_70" [src]="'data:image/jpeg;base64,'+ element.avatar" alt="pr"> </td>
    src="data:image/png;base64,
  </ng-container>

  <!-- image Column -->
  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
    <td mat-cell *matCellDef="let element"> </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef > Prénom </th>
    <td mat-cell *matCellDef="let element"   >{{element.firstname}}</td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let element"   >{{element.lastname}}</td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Mail </th>
    <td mat-cell *matCellDef="let element" >{{element.email}}</td>
  </ng-container>

  <!-- Name Profils -->
  <ng-container matColumnDef="profil">
    <th mat-header-cell *matHeaderCellDef>Profil</th>
    <td mat-cell *matCellDef="let element">
      <div class="profil" >{{element.profil.libelle}}</div>
      <div class="action">
        <button  mat-button><mat-icon class="color_green">edit</mat-icon></button>
        <button  mat-button (click)="deleteUser(element)"><mat-icon  class="color_red">delete</mat-icon></button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row appShadowOver appComponentAction class="visibleprofil" *matRowDef="let row; columns: displayedColumns;" [id]="'id_'+row.id" (dblclick)="detailUser(row.id)" (mouseenter) ="setUserOver(row.id) " (mouseleave) ="setUserOver(row.id)" matRipple >
  </tr>
</table>
<mat-paginator class="mat-elevation-z2" [length]="nbrItems" [pageSizeOptions]="[5,10,15,20]" (page)="changeThing($event)"> </mat-paginator>
