<h1>PROFILS</h1>

<table mat-table [dataSource] = "dataSource" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row" (click)="selection.toggle(row)">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                     >
      </mat-checkbox>

    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- avatar Column -->
  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
    <td mat-cell *matCellDef="let element"><img class="w_70_h_70" src="/assets/iconProfils/{{element.libelle | lowercase }}.png" alt="pr"></td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="libelle">
    <th mat-header-cell *matHeaderCellDef> Libelle </th>
    <!-- <td mat-cell *matCellDef="let element"  (dblclick)="toInput(element.id)" ><input matInput (keydown.enter)="onBlurInput(element.id,element.libelle)" (blur)="onBlurInput(element.id,element.libelle)" #input{{element.id}} [readonly]="!editable" type="text" value="{{element.libelle}}" ></td> -->
    <td mat-cell *matCellDef="let element" >{{element.libelle}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="displayUsers(row)">
  </tr>
</table>
