<div class="mat-app-background">
  <br>
  <div fxLayout="row"  fxLayoutGap="gappx" fxLayoutAlign="end end" fxFlexFill autosize>
    <a mat-raised-button routerLink= './../add' class="primary">ADD NEW<mat-icon>add</mat-icon></a>
  </div>
  <br>
  <div class="center"> <h1 > Liste des compétences</h1></div>
  <div fxLayout="row"  fxLayoutAlign="space-around start" fxFlexFill fxLayoutGap="15px" autosize >
      <div fxFlex="33" fxLayout="column"fxLayoutGap="5px" class="mgl-5">
        <button mat-raised-button *ngFor="let c of competences" (click)="selectCompetence(c)" [ngClass]="{'primary': currentCompetence==c}"><h3 class="p-tb-5">{{c.libelle}}</h3></button>
        <mat-paginator [length]="nbrItem"
                      [pageSize]="nbrItemPage"
                      [pageSizeOptions]="[2, 4, 5, 10]" (page)="pager($event)">
        </mat-paginator>
      </div>
      <div fxFlex="62">
        <mat-tab-group *ngIf="currentCompetence" fxFlex="100">
          <mat-tab  *ngFor="let niveau of currentCompetence.niveaux, let i= index" [label]="'Niveau '+ (i+1)+'     '">
            <div>
              <fieldset fxFlex="50">
                <legend align="center"><h3>Critère d'évaluation</h3></legend>
                <div>{{ niveau.critereEvaluation }}</div>
              </fieldset>

              <fieldset fxFlex="50">
                <legend align="center"><h3>Groupes d'actions</h3></legend>
                <div>{{ niveau.groupeAction }}</div>
              </fieldset>

            </div>
          </mat-tab>
          <!-- <mat-tab label="Niveau 2"> Content 2 </mat-tab>
          <mat-tab label="NIveau 3"> Content 3 </mat-tab> -->
        </mat-tab-group>

        <div *ngIf="!currentCompetence" fxFill fxLayout="center center">
          <h2> Pas de competence selectionnée </h2>
        </div>
      </div>
      <button  *ngIf="currentCompetence"  mat-mini-fab color="basic"  >
        <mat-icon class="color_green" (click)="detailUser(currentCompetence.id)">edit</mat-icon>
      </button>
      &nbsp;
      <button mat-mini-fab color="basic"  *ngIf="currentCompetence" aria-label="delete">
        <mat-icon class="color_red" (click)="delete(currentCompetence.id)">delete</mat-icon>
      </button>
  </div>
</div>
