
// .avatar_promo{

//   width: 100%;
//   min-width: 350px;
//   height: auto;
//   min-height: 350px;
// }

.primary{
  color:#ff7713 !important;
}


@mixin responsive-box($height){
  position: relative;
  &:before{
    padding-top: $height;
  }
}

.avatar_promo{
  width: 100%;
  height: calc(#{width} * 1.778);
}
